<div class="outer-spacer">
	<a href="#" class="scrollup hidden" id="scrollup">Scroll</a>
	<footer class="footer">
		<div class="container">
			<div class="footer-logo">
				<img src="{$config.logo}" title="{$config.site_name}" alt="{$config.site_name}"/>
			</div>
			<p>
				©2020 RC GROUP I
				<a title="Agence web Paris 6LAB" href="/"
				   target="_blank" rel="noopener noreferrer">
					Agence web Paris 6LAB
				</a>
			</p>
		</div>
	</footer>
</div>
<script type="text/javascript" src="__STATIC__/home/js/scripts.js"></script>