{include file="common:header" /}

<div class="outer-spacer main-spacer home">
	<section class="main-banner">
		<div id="home-slider" class="home-slider">
			{foreach slideList as $v}
			<div class="item">
				<a href="/home/nav/{$v.id}" style="background-image:url('{$v.image}');" class="slider-caption">
					<div class="overlap"></div>
					<div class="caption-content">
						<h2>{$v.name}</h2>
						<span></span>
					</div>
				</a>
			</div>
			{/foreach}
		</div>
	</section>

	{include file="index:about" /}

	{include file="index:offers" /}

	{include file="index:instagram" /}

</div>
﻿
{include file="common/footer" /}

<script type="text/javascript">
	App.homePage()
</script>
</body>
</html>
