<section id="homepage-blocks" class="offers">
	<div class="overlap"></div>
	<div id="hp-block-bg-default" class="bg-image" style="background-image: url(__STATIC__/home/images/social-rc-group-nb.jpg?p=engagement-block)">
	</div>
	<div id="hp-block-bg-1" class="bg-image" style="background-image: url(__STATIC__/home/images/economie-rc-group-nb.jpg?p=engagement-block)">
	</div>
	<div id="hp-block-bg-2" class="bg-image" style="background-image: url(__STATIC__/home/images/social-rc-group-nb.jpg?p=engagement-block)">
	</div>
	<div id="hp-block-bg-3" class="bg-image" style="background-image: url(__STATIC__/home/images/engagements-rc-group-nb.jpg?p=engagement-block)">
	</div>
	<div class="container2">
		<h2>{$Think.lang.index_001}</h2>
		<div class="row">
			<div class="col-3">
				<a href="/home/nav/16" class="offers-icon" title="{$Think.lang.index_002}" data-id="1">
					<img src="__STATIC__/home/images/offer1.png" alt="{$Think.lang.index_002}">
				</a>
				<h3>
					<a href="/home/nav/16" title="{$Think.lang.index_002}">
						{$Think.lang.index_002}
					</a>
				</h3>
			</div>
			<!-- col 4 #end -->
			<div class="col-3">
				<a href="/home/nav/16" class="offers-icon" title="{$Think.lang.index_004}" data-id="2">
					<img src="__STATIC__/home/images/offer2.png" alt="{$Think.lang.index_004}">
				</a>
				<h3>
					<a href="/home/nav/16" title="{$Think.lang.index_004}">
						{$Think.lang.index_004}
					</a>
				</h3>
			</div>
			<!-- col 4 #end -->
			<div class="col-3">
				<a href="/home/nav/16" class="offers-icon" title="{$Think.lang.index_006}" data-id="3">
					<img src="__STATIC__/home/images/offer3.png" alt="{$Think.lang.index_006}">
				</a>
				<h3>
					<a href="/home/nav/16" title="{$Think.lang.index_006}">
						{$Think.lang.index_006}
					</a>
				</h3>
			</div>
			<div class="col-3">
				<a href="/home/nav/16" class="offers-icon" title="{$Think.lang.index_008}" data-id="4">
					<img src="__STATIC__/home/images/offer4.png" alt="{$Think.lang.index_008}">
				</a>
				<h3>
					<a href="/home/nav/16" title="{$Think.lang.index_008}">
						{$Think.lang.index_008}
					</a>
				</h3>
			</div>
		</div>
	</div>
</section>