<div class="contact-block">
	<div class="container2">
		<div class="contact-page">
			<div class="row col-center">
				<div class="col-with-map col-5">
					<div class="contact-info">
						<p class="highlight"><strong>{$Think.lang.contact_001}<br></strong></p>
						<p>{$Think.lang.contact_002}</p>
						<ul>
							<li>
								<i class="fas fa-map-marker-alt" aria-hidden="true"></i>
								<pre>{$contact.address}</pre>
							</li>
							<li><i class="fas fa-phone-alt" aria-hidden="true"></i> {$contact.mobile}</li>
							<li><i class="fas fa-envelope" aria-hidden="true"></i> <a href="mailto:{$contact.email}">{$contact.email}</a></li>
						</ul>
					</div>

					<div id="gmap" class="map">

						<iframe width="921px" height="430px"
						        src="https://map.baidu.com/search/%E4%B8%8A%E6%B5%B7%E5%B8%82%E6%9D%BE%E6%B1%9F%E5%8C%BA%E4%B8%AD%E5%88%9B%E8%B7%AF68%E5%8F%B7%E5%90%AF%E8%BF%AA%E7%A7%91%E6%8A%80%E5%9B%AD9%E5%8F%B7%E6%A5%BC/@13501010.245,3616697.31,18.26z?querytype=s&da_src=shareurl&wd=%E4%B8%8A%E6%B5%B7%E5%B8%82%E6%9D%BE%E6%B1%9F%E5%8C%BA%E4%B8%AD%E5%88%9B%E8%B7%AF68%E5%8F%B7%E5%90%AF%E8%BF%AA%E7%A7%91%E6%8A%80%E5%9B%AD9%E5%8F%B7%E6%A5%BC&c=236&src=0&pn=0&sug=0&l=12&b=(13342861.54,4253893.34;13460813.54,4316485.34)&from=webmap&biz_forward=%7B%22scaler%22:1,%22styles%22:%22pl%22%7D&device_ratio=1"></iframe>

						<!--						<iframe width="921px" height="430px"-->
						<!--						        src="https://www.google.com/maps/search/Building+9,+Jianli+Science+park,+68+Zhongchuang+Road,+Songjiang+District,+Shanghai/@31.0448427,121.26365,15.17z?hl=en"></iframe>-->
					</div>
				</div>

				<div class="gray-bg-div"></div>
				<div class="col-4">
					<div class="contact-us">
						<span id="contact-form"></span>
						<form class="contact-form" id="dataForm">
							<div class="flash"></div>
							<div class="input select">
								<select name="gender" id="gender">
									<option value="0">{$Think.lang.contact_form_001}</option>
									<option value="1">{$Think.lang.contact_form_002}</option>
									<option value="2">{$Think.lang.contact_form_003}</option>
								</select>
							</div>
							<div class="input text">
								<input type="text" name="first_name" placeholder="{$Think.lang.contact_form_004}*" rrequired="required" id="first_name">
							</div>
							<div class="input text">
								<input type="text" name="last_name" placeholder="{$Think.lang.contact_form_005}*" required="required" id="last_name">
							</div>
							<div class="input text">
								<input type="text" name="company" placeholder="{$Think.lang.contact_form_006}" id="company">
							</div>
							<div class="input email">
								<input type="email" name="email" placeholder="{$Think.lang.contact_form_007}*" required="required" id="email">
							</div>
							<div class="input tel">
								<input type="tel" name="tel" placeholder="{$Think.lang.contact_form_008}" id="tel">
							</div>
							<div class="input textarea">
								<textarea name="message" placeholder="{$Think.lang.contact_form_009}*" required="required" rows="8"></textarea>
							</div>
							<div class="align-center">
								<button class="button" id="submitBtn">
									<span class="">{$Think.lang.contact_form_010}</span>
								</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/1.10.0/jquery.min.js"></script>
<script type="text/javascript">
	$('#submitBtn').on('click', function () {
		if ($('#first_name').val() == '') {
			alert("{$Think.lang.contact_form_020}");
			return false;
		}
		if ($('#last_name').val() == '') {
			alert("{$Think.lang.contact_form_021}");
			return false;
		}
		if ($('#email').val() == '') {
			alert("{$Think.lang.contact_form_022}");
			return false;
		}
		if ($('#message').val() == '') {
			alert("{$Think.lang.contact_form_023}");
			return false;
		}
		$.post('/home/contact/create?t=' + new Date().getTime(), $('#dataForm').serialize(), function (res) {
			alert(res.msg);
		}, 'json');
		return false;
	})
</script>