<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<link rel="stylesheet" href="__STATIC__/layui/css/layui.css">
	<link rel="stylesheet" href="__STATIC__/admin/css/admin.css"/>
	<link rel="stylesheet" href="__STATIC__/um/themes/default/css/umeditor.css">
	<link rel="icon" href="/favicon.ico">
	<title>管理后台</title>
	<style>
		.layui-form-label {width:120px}
		.layui-input-block {margin-left:160px}
	</style>
</head>
<body class="layui-view-body">
<div class="layui-content">
	<div class="layui-row" style="padding:15px">
		<div class="layui-card">
			<div class="layui-card-body" style="padding: 15px;">
				<form class="layui-form" action="" id="dataForm">
					<div class="layui-row layui-col-space10 layui-form-item">
						<div class="layui-col-lg6">
							<label class="layui-form-label">banner图</label>
							<div class="layui-input-block">
								<div class="layui-upload-drag uploadDiv">
									<i class="layui-icon"></i>
									<p>点击上传，尺寸必须是1920*800</p>
									<input type="hidden" name="image" required lay-verify="required" lay-reqtext="请上传背景图片" value="{$cases.image}">
								</div>
								<div class="layui-inline imgDiv">
									<img class="showPath" src="{$cases.imageShow|default='__STATIC__/admin/images/default.png'}" style="width:293px;height:100%">
								</div>
							</div>
						</div>
					</div>

					<div class="layui-row layui-col-space10 layui-form-item">
						<div class="layui-col-lg6">
							<label class="layui-form-label">中文标题</label>
							<div class="layui-input-block">
								<input type="text" name="title_cn" value="{$cases.title_cn}" lay-verify="required" autocomplete="off" class="layui-input layui-form-danger">
							</div>
						</div>
						<div class="layui-col-lg6">
							<label class="layui-form-label">英文标题</label>
							<div class="layui-input-block">
								<input type="text" name="title_en" value="{$cases.title_en}" lay-verify="required" autocomplete="off" class="layui-input layui-form-danger">
							</div>
						</div>
					</div>

					<div class="layui-form-item">
						<label class="layui-form-label">中文内容</label>
						<div class="layui-input-block">
							<script id="container-cn" lay-verify="content" required lay-verify="required" name="content_cn" type="text/plain" style="width:100%;height:300px;">{$cases.content_cn|raw}</script>
						</div>
					</div>

					<div class="layui-form-item">
						<label class="layui-form-label">英文内容</label>
						<div class="layui-input-block">
							<script id="container-en" lay-verify="content" required lay-verify="required" name="content_en" type="text/plain" style="width:100%;height:300px;">{$cases.content_en|raw}</script>
						</div>
					</div>

					<div class="layui-form-item">
						<div class="layui-input-block">
							<div class="layui-footer">
								<input type="hidden" name="id" value="{$cases.id|default=0}">
								<button class="layui-btn" lay-submit="" lay-filter="dataForm">立即提交</button>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript" src="__STATIC__/layui/layui.all.js"></script>
<script type="text/javascript" src="__STATIC__/um/third-party/jquery.min.js"></script>
<script type="text/javascript" src="__STATIC__/um/umeditor.config.js"></script>
<script type="text/javascript" src="__STATIC__/um/umeditor.js"></script>
<script type="text/javascript" src="__STATIC__/um/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript">
	layui.use(['layer', 'upload', 'form'], function () {
		var layer = layui.layer, $ = jQuery = layui.$, upload = layui.upload, form = layui.form;

		// 上传
		upload.render({
			elem: '.uploadDiv'
			, exts: 'jpg|png|gif|bmp|jpeg|ico' //只允许上传压缩文件
			, accept: 'images' //普通文件
			, url: '/common/upload/image?t=' + new Date().getTime() //改成您自己的上传接口
			, done: function (res) {
				if (res.code == 1) {
					var _this = $(this.item);
					_this.find('input').val(res.data.path);
					_this.siblings('.imgDiv').find('.showPath').attr("src", res.data.pathShow);
				} else {
					layer.msg('上传失败，请重试');
				}
			}
		});

		var umConfig = {
			'fontsize': [10, 11, 12, 14, 16, 18, 20, 24, 36, 48],
			'initialFrameWidth': '100%'
		};
		UM.getEditor('container-cn', umConfig);
		UM.getEditor('container-en', umConfig);

		//监听提交
		form.on('submit(dataForm)', function () {
			$.post('/admin/cases/edit?t=' + new Date().getTime(), $('#dataForm').serialize(), function (res) {
				if (res.code == 1) {
					parent.layer.closeAll();
					parent.layui.table.reload('dataTable');
				} else {
					layer.msg(res.msg);
				}
			}, 'json');
			return false;
		});
	});
</script>
</body>
</html>